a {
    text-decoration: none;
}

.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    font-size: 43px;
    font-weight: 400;
    line-height: 53px;
}

.color-green {
    color: #165550 !important;
}

.pos-relativ {
    position: relative;
}

.pl-20 {
    padding-left: 20px;
}

.posis-iconlogo {
    top: 0px;
    right: -16px;
}

.pos-absolut {
    position: absolute;
}

.size-fonts {
    padding: 0px 9px;
    font-size: 12px;
}

ul.navbar-nav li a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}

.dropdown-menu {
    padding: 0px;
    border: none;
}

.w-50 {
    margin: 0 auto;
}

.dropdown-menu li a.dropdown-item {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.dropdown-menu[data-bs-popper] {
    left: inherit;
}

.btn-round {
    border: 1px solid #165550;
    border-radius: 20px;
    padding: 5px 17px;
}

.table-green {
    background: rgba(136, 214, 208, 0.1);
    top: -60px;
    right: 0px;
    z-index: -9;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-item {
    padding: 1.25rem 1rem !important;
}

.font-12 {
    font-size: 14px;
    line-height: 21px;
    font-family: 'Raleway';
    font-style: normal;
}

.text-thin {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    line-height: 21px;
}

.padding {
    padding: 63px 0px;
}

.color-gold {
    color: #FAC776;
}

.color-gold-trans {
    color: #917d5d;
}

.font-36 {
    font-size: 36px;
}

.font-24 {
    font-size: 24px;
}

.bg-green {
    background-color: #165550;
}

.color-trans {
    color: #1655507d !important;
}

.font-15 {
    font-size: 15px;
}

.Raleway {
    font-family: 'Raleway';
    font-style: normal;
}

.text-judul {
    font-family: 'DM Serif Text',
        serif;
}

.p-34 {
    padding: 34px;
}

.border-radius-icon {
    height: 25px;
    width: 22px;
}

.w-600 {
    font-weight: 600;
}

.mr-1 {
    margin-right: 10px;
}

.fa-angle-right {
    position: relative;
    text-align: center;
    font-size: 12px;
    border-radius: 30px;
    border: 1px solid #165550;
    padding: 8px 12px;
}

.r-46px {
    right: -113px;
    top: -56px;
}

@media screen and (max-width: 1191px) {
    .col-resposive-text-banner {
        flex: 0 0 auto;
        width: 40%;
    }

    .col-resposive-img-banner {
        flex: 0 0 auto;
        width: 60%;
    }

    .table-green {
        width: 591px;
        height: 100%;
    }
}


@media screen and (min-width: 1192px) {
    .col-resposive-text-banner {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-resposive-img-banner {
        flex: 0 0 auto;
        width: 50%;
    }

    .table-green {
        width: 591px;
        height: 100%;
    }

    .container-custom {
        margin-left: 70px;
    }
}


@media screen and (min-width: 991px) {

    /* .navbar-nav{
    display: block;
    float: right;
  } */
    .nav-item {
        padding: 0px 15px;
    }

    .navbar-nav {
        align-items: center;
    }

    .w-70-responsive {
        width: 70%;
    }

    .properti-crad {
        height: 235px;
        width: 243px;
    }

    .w-40 {
        width: 320px;
    }

    .pos-send-footer {
        position: absolute;
        top: 6px;
        right: 10px;
    }

    .row-footers {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .pos-sosial-footer {
        text-align: center;
        width: 484px;
    }

    .w-324 {
        width: 343px;
    }

    .pl-res {
        margin: 13% 0px 30px 0px;
    }

}

@media screen and (max-width: 998px) {
    .navbar-nav {
        display: row;
    }

    .navbar-collapse {
        margin-top: 20px;
    }

    .mt-c-10 {
        margin-top: 10px;
    }

    .table-green {
        display: none
    }

    .navbar-toggler {
        border: none;
    }

    .col-resposive-text-banner {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-resposive-img-banner {
        flex: 0 0 auto;
        width: 100%;
    }

    .border-bottoms {
        border-bottom: 1px solid #33333326;
    }

    .col-res-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    /* .col-properti-card {
        flex: 0 0 auto;
        width: 100%;
    } */
    .properti-crad {
        height: 210px;
        width: 50%;
    }

    .w-50 {
        width: 100% !important;
        margin: 0 auto;
    }

    .w-70 {
        width: 100% !important;
    }

    .pos-send-footer {
        position: absolute;
        top: 6px;
        right: 10px;
    }

    .pl-res {
        margin: 20px 0px 30px 0px;
    }
}

.ptb-37 {
    padding: 37px 9px;
}

.post-slide {
    background: #fff;
    margin: 20px 5px 20px;
    padding-top: 1px;
    box-shadow: -3px 2px 22px -9px #dddddd
}

.post-slide .post-img {
    position: relative;
    overflow: hidden;
}

.post-slide .post-img img {
    width: 100%;
    height: auto;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
}

.post-slide:hover .post-img img {
    transform: scale(1.1, 1.1);
}

.post-slide .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
    transition: all 0.50s linear;
}

.post-slide:hover .over-layer {
    opacity: 1;
    text-decoration: none;
}

.post-slide .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
}

.post-slide .post-content {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
}

.post-slide .post-title a {
    font-weight: bold;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.post-slide .post-title a:hover {
    text-decoration: none;
    color: #3498db;
}

.post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
}

.post-slide .post-date {
    color: #a9a9a9;
    font-size: 14px;
}

.post-slide .post-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #CFDACE;
}

.post-slide .read-more {
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}

.post-slide .read-more:hover {
    background: #3498db;
    text-decoration: none;
    color: #fff;
}

.owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    top: -12%;
    right: 51px;
    border-radius: 50px;
    transition: background 0.5s ease 0s;
    padding: 0 8px 0 10px;
    border-radius: 50px;
    border: 1px solid #165550;
}

.owl-controls .owl-buttons .owl-prev:hover,
.owl-controls .owl-buttons .owl-next:hover {
    background: #165550;
}

.owl-controls .owl-buttons .owl-prev:hover::after {
    color: #fff !important;
}

.owl-controls .owl-buttons .owl-next:hover::after {
    color: #fff !important;
}

.owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    top: -12%;
    right: 15px;
    padding: 0 4px 0 15px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
    padding: 0 8px 0 10px;
    border-radius: 50px;
    border: 1px solid #165550;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #165550;
    font-size: 15px;

}

.owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
}

@media only screen and (max-width:1280px) {
    .post-slide .post-content {
        padding: 20px;
    }
}

@media screen and (max-width: 345px) {
    .owl-controls .owl-buttons .owl-next {
        top: unset;
        right: 80px;
    }

    .owl-controls .owl-buttons .owl-prev {
        top: unset;
        right: 113px;
    }

    .properti-crad {
        height: 210px;
        width: 100%;
    }
}

.bg-footer {
    background-color: #165550;
    padding: 40px;
}

.color-white {
    color: #fff !important;
}

.navbar-footer {
    font-family: 'Berkshire Swash', cursive;
    font-size: 28px;
    font-weight: 400;
    line-height: 53px;
}

.posis-iconfooter {
    position: absolute;
    top: 0px;
    left: 66px;
}

.bg-button-footer {
    border-radius: 30px;
    border: none;
    padding: 4px 11px;
    background: #FAC776;
}

.bg-footer ul {
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
}

.bg-footer ul li {
    list-style: none;
}

.bg-footer ul li a {
    font-size: 14px;
    line-height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    color: #FFFFFF;
}

.bg-footer ul li a:hover {
    color: #FAC776;
}

.pos-sosial-footer a {
    color: #333;
}

.mt-119 {
    margin-top: 119px;
}

.foot-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 0px !important;
    justify-content: center;
}

.foot-bottom li {
    padding-right: 12px;
}

.foot-bottom li a {
    opacity: 40%;
}

.foot-bottom li a:hover {
    color: #fff !important;
}

.opacity {
    opacity: 40%;
}

.mt-10_s {
    margin-top: 10%;
}

.color-red {
    color: #E65A5A;
}

.descrip {
    font-family: inherit;
    font-style: normal;
    font-size: 18px;
}